@font-face {
  font-family: 'Blacksword';
  src:url('../fonts/Blacksword.otf') format('opentype');
}
@font-face {
  font-family: 'OldStandard-Bold';
  font-display: auto;
  src: url('../fonts/OldStandard-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OldStandard-Regular';
  font-display: auto;
  src: url('../fonts/OldStandard-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OldStandard-Italic';
  font-display: auto;
  src: url('../fonts/OldStandard-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-display: auto;
  src: url('../fonts/Montserrat-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-display: auto;
  src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Thin';
  font-display: auto;
  src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Light';
  font-display: auto;
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

body{
  transition-timing-function: ease;
  margin: 0;
  width: 100%;
  /* overflow-x: hidden; */
}
header{
  position: relative;
  height: 86.0599vw;
  overflow:hidden;
  /* margin-bottom: 1.55vw; */
}
.three {
  pointer-events: none;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 86.474vw;
  background: transparent;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-image: initial;
  border-width: 4.9519vw 12.86vw 14.634vw;
}

.inlineBorder {
  outline-offset: -0.66vw;
  width: 100%;
  height: 100%;
  outline: rgba(255, 255, 255, 0.5) solid 1px;
}

.cover{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  transform: scale(1);
  animation: 25s cover;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes cover {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}

.initContainer{
  position: absolute;
  /* border: 1px solid; */
  top: 4.360vw;
  left: 2.8824vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initials{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
  width: 4.4345vw;
  height: 4.4345vw;
}
.initials img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.initials p{
  font-family: 'OldStandard-Bold';
  font-family: 'Blacksword';
  position: relative;
  font-size: 2.21vw;
  text-shadow: 2px -1px 0px rgba(163,163,163,0.47);
  color: #d6ce39;
  margin-right: 0.5vw;
}

.initContainer h1{
  font-family: 'OldStandard-Italic';
  writing-mode:tb;
  color: #777777;
  text-shadow: 2px -1px 0px rgba(163,163,163,0.47);
  font-size: 3.252vw;
  font-weight: 100;
  margin-top: 0.6vw;
}
.initContainer h1 span{
  color: #d6ce39;
}

/* anim */
@keyframes animTextBox {
  0%{
    width: 0;
    left: 14vw;
    filter:blur(10px);
  }
  100%{
    filter:blur(0px);
    width: 34.09vw;
    left: 3.85vw;
  }
}

.animTextBox{
  overflow: hidden;
  width: 34.09vw;
  position: absolute;
  top:33.111vw;
  left: 4.65vw;
  animation: 5s animTextBox;
  animation-fill-mode: forwards;
}

.animTextBox h2{
  font-weight: 300;
  font-size: 2.2vw;
  font-family: 'Blacksword';
  margin: 0;
  /* margin-bottom: -0.5vw; */
  margin-left: 4.89vw;
}

.animTextBox p{
  overflow: hidden;
  color: white;
  background-color: rgb(226,207,49,0.56);
  font-size: 4vw;
  margin: 1vw;
  margin-left: 0;
  margin-top: 0;
  margin-right: 6.37vw;
  font-weight: 500;
  padding-left: 3.85vw;
}

.animTextBox p:nth-child(3){
  margin-right: 0;
  margin-left: 2.74vw;
  padding-left: 1vw;
}
/* anim end */
.recentProjects{
  position: absolute;
  overflow: hidden;
  top: 9.3865vw;
  left: 67.55vw;
  animation: 5s recentProjects;
  animation-fill-mode: forwards;
}
.recentProjects P{
  white-space: nowrap;
  overflow: hidden;
  /* font-family: 'Blacksword'; */
  color: white;
  background-color: rgba(226,207,49,0.56);
  font-size: 2.660vw;
  margin: 1vw;
  padding-right: 3vw;
  margin-left: 0;
  margin-top: 0;
  /* margin-right: 6.37vw; */
  font-weight: 500;
  padding: 0.6vw;
  padding-left: 1.85vw;
}
@keyframes recentProjects {
  0%{
    left: 69.55vw;
    width: 0;
    filter:blur(10px);
  }
  100%{
    left: 67.55vw;
    filter:blur(0px);
    width: 28.5vw;
  }
}

.headerImages{
  /* border: 2px solid red; */
  position: absolute;
  top: 15.59vw;
  right: 3.621vw;
  width: auto;
  height: auto;
}
.imgHolder{
  margin-bottom: 1.478vw;
  position: relative;
  width: 12.93vw;
  height: 9.09vw;
}
.imgHolderBig{
  height: 18.477vw;
}
.imgHolder img{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.imgHolder img:hover{
  cursor: pointer;
}

.yellowOverlay{
  transition: 0.6s;
  transition-delay: 0.2s;
  pointer-events: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 12.93vw;
  height: 100%;
  background-color:rgba(226,207,49,0.56);
}
/* main */
main{
  z-index: 1;
  position: relative;
  height: 102.96vw;
  /* background: #fcf4ef; */
  /* background: linear-gradient(to bottom, rgba(60,65,69,1) 35%, rgba(104,108,111,1) 120%); */
  background:linear-gradient(to bottom, #3c4145, #474b4f, #51565a, #5d6164, #686c6f);
  overflow: hidden;
}

.mainBottomBg{
  transition: 2.5s;
  position: absolute;
  height: 82.8vw;
  width: 100%;
  bottom: -12vw;
  transform:skewY(-13deg);
  background-size: 100% 100%;
  overflow: hidden;
  /* background: #e2cf31; */
  background: #fcf4ef;
}

.insideBottomBg{
  position: relative;
  /* background-image: url('img/test.jpg'); */
  height: 500px;
  height: 82.8vw;
  bottom: 12vw;
  width: 100%;
  transform: skewY(13deg);
  background-size: 100% 100%;
}

.picProgBox {
    position: absolute;
    width: 40.32vw;
    height: 62.86vw;
    left: 40.91vw;
    top: 15.27vw;
        box-shadow: 51px 18px 44px 2px rgba(0,0,0,0.15);
    /* box-shadow: 13px 18px 13px 2px rgba(0,0,0,0.21); */
    /* background-color: #565a5d; */
    background-image: url('../images/common/progBG.png');
    background-size: 112% 108%;
    background-position: 3% 31%;
}
/* .picProgBox::before{
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 5vw;
  top: 0;
  right: 0;
  box-shadow: 20px 18px 44px 2px rgba(0,0,0,0.21);
} */
.mainImg{
  position: absolute;
  width: 30.155vw;
  left: 6.06vw;
  top: 3.917vw;
}
/*PROGDIV*/
.progBarDiv{
  position: absolute;
  width: 26.31vw;
  left: 10.67vw;
  bottom: 3.37vw;
}

.progBarDiv p{
  /* font-family: 'Old Standard TT', serif; */
  font-family: 'Montserrat-Light';
  font-size: 1.03vw;
  color: #434343;
  margin: 0;
  margin-bottom: 0.2vw;
  letter-spacing: 0.2vw;
}
/*PROGbar one*/
.progBox{
  margin-top: 1.3vw;
}


.progBox span{
  margin-right: 2px;
  float: right;
}

.progBarOne{
  height: 10px;
  background-color: white;
  width: 100%;
}

.progProgress{
  height: 10px;
  width: 84.5%;
  background: #4a4b4c;
  border: 1px solid #73777a;
}
/*PROGbar one END*/
.progTwo{
  width: 93.23%;
}

.progThree{
  width: 74.08%;
}

.progFour{
  width: 83.94%;
}

/*OVERLAY DIV*/
.overlayDiv{
  position: absolute;
  height: 65.74vw;
  width: 30.31vw;
  top:8.59vw;
  left: 16.7vw;
  background-size: 100% 100%;
  /* background-image: url('../images/common/LayerTwo.png'); */
      box-shadow: 86px 66px 64px 2px rgba(0,0,0,0.11);
}
.LayerTwo{
  width: 118%;
}
.overlayBG{
  /* background: linear-gradient(to right, rgba(60,65,69,1) 0%, rgba(60,65,69,1) 9%, rgba(104,108,111,1) 100%); */
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  /* z-index: -1; */
}
.overlayBGInside {
  width: 112vw;
  height: 80vw;
  /* background: #fcf4ef; */
      background: rgba(60,65,69,1);
  position: absolute;
  top: -75.3vw;
  left: -52vw;
  border-radius: 50%;
}
/* ANIMATION ANIMATION */
.aboutMeContainer{
  position: relative;
  top: 8vw;
}
.aboutMe{
  position: relative;
  margin-top: 7.41vw;
  /* top: 7.2vw; */
  width: 30.61vw;
  height: 5.93vw;
  left:-11.07vw;
  background-color: #3c4145;
  visibility:hidden;
}

.AboutMeWhiteAnimDiv{
  /* margin-top: 7.41vw; */
  margin-left:-6.07vw;
  top: 0;
  position: absolute;
  background-color: white;
  width: 0;
  height: 5.93vw;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}
.animateWhiteClass{
  animation: 1s AboutMeWhiteAnimDiv;
}

@keyframes AboutMeWhiteAnimDiv {
  0%{
    left: 0;
  }
  48%{
    left: 0;
    width: 30.61vw;
  }
  50%{
    left: 0;
    width: 30.61vw;
  }
  100%{
    left: 30.61vw;
    width: 0;
  }
}

.AboutMeBlackAnimDiv{
  /* margin-top: 7.41vw; */
  margin-left:-6.07vw;
  top: 0;
  position: absolute;
  background-color: black;
  width: 0;
  height: 5.93vw;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}
.animateBlackClass{
  animation: 1s AboutMeBlackAnimDiv;
}

@keyframes AboutMeBlackAnimDiv {
  0%{
    left: 0;
  }
  50%{
    left: 0;
    width: 30.61vw;
  }
  100%{
    left: 30.61vw;
    width: 0;
  }
}
/* ANIMATION ANIMATION */
.aboutMe p{
  font-family: 'Blacksword';
  color:#c58f42;
  font-size: 3.4vw;
  margin: 0;
  margin-left: 6.3vw;
  font-weight: 100;
      top: -13vw;
      position: relative;
}
.aboutMe span{
  font-size: 16.251vw;
}

.logoTwo{
  transition: 3s;
  position: absolute;
  top: -7.1vw;
  left: 34.1vw;
  height: 3.41vw;
  width: 3.55vw;
}

.textBox{
  position: relative;
  margin-top: 12.59vw;
  overflow: hidden;
  padding-left: 1.37vw;
  padding-right: 1.52vw;
  display: flex;
  left: -2vw;
  /* text-align: justify; */
  height: 22.8vw;
  font-size: 3.5139vw;
  color:#363636;
  font-family: 'Montserrat-Bold';
}

#moreAboutmeP{
  transition: 0.5s;
  position: relative;
  font-size: 1.1vw;
  margin-left: 2vw;
  margin-top: -0.2vw;
  color:#c58f42;
  filter: brightness(1);
  font-family: 'Montserrat-Light';
}

#moreAboutmeP:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.services{
  position: relative;
  text-align: center;
  margin-top: 13.5vw;
  left: 2vw;
}

.services a{
  transition: 0.5s;
  font-weight: 600;
  padding-right: 0.3vw;
  color:#3c4145;
  text-decoration: none;
  font-size: 1.05vw;
  transition: 1s;
}

.services a:hover{
  color:#c58f42;
}

.bottomServices {
  position: absolute;
  margin: 0;
  /* bottom: 0px; */
  margin-left: 50%;
  top: -16vw;
  left: -8vw;
}

.bottomServices p{
  font-weight: 100;
  font-size: 3.513vw;
  color:#c58f42;
  font-family: 'Blacksword';
  margin-bottom: -1.3vw;
}
.bottomServices p span{
  font-size: 10.834vw;
}

/* .serviceUnderline{
  position: relative;
  width: 40%;
  margin-left: 50%;
  left: -20%;
  background-color: white;
  height: 0.3vw;
  margin-bottom: 3.11vw;
} */


.myImg {
    position: absolute;
    width: 100%;
    height: 86.0599vw;
    /* border: 2px solid red; */
    background-image: url(../images/desktop/cover.jpg);
    background-size: 100% 100%;
    /* z-index: 5; */
}
/* threeImageContent */
.threeImageContent{
  z-index: 1;
  width: 100%;
  height: 48.804vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.contentBox{
  position: relative;
  transition: 1.5s;
  /* border: 1px solid red; */
  height: 100%;
  width: 0%;
  flex-grow: 1;
  background-position: center;
  /* background-size: auto 150%; */
  background-size:cover;
}
.contentBox:hover{
  width: 80%;
  /* background-size: auto 280%; */
}

.contentBox:nth-child(1){
  background-image: url('../images/desktop/threeContent/1.jpg');
}
.contentBox:nth-child(2){
  background-image: url('../images/desktop/threeContent/2.jpg');
}
.contentBox:nth-child(3){
  background-image: url('../images/desktop/threeContent/3.jpg');
}
.contentBox:hover > .orangeOverlay{
  opacity: 0;
}
.orangeOverlay{
  transition: 2s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(197,143,66,0.75);
}


/* recentWorks */
.recentWorks{
  position: relative;
  background: black;
  padding: 0.1px;
}

.recentWorkImgDiv {
  width: 68.326vw;
  height: 38vw;
  position: relative;
  margin-left: 50%;
  left: -34.15vw;
  margin-top: 18.789vw;
  margin-bottom: 16vw;
}
.recentWorkImgDiv img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.recentWorkImgDiv h2{
  /* transition: 2s; */
  margin: 0;
  margin-left: 9vw;
  font-weight: 100;
  position: relative;
  pointer-events: none;
  font-size: 4.88vw;
  color: white;
  font-family: 'Montserrat-Thin';
  top: -8.8vw;
  -webkit-text-fill-color: transparent;
  /* -webkit-background-clip: text; */
  background: -webkit-linear-gradient(360deg, rgba(255,255,255,0), rgba(255,255,255,0));
  -webkit-background-clip: text !important;

  position: fixed;
  top: 50vh;
}
.spanCapital{
  font-size: 9.76vw;
}
.recentWorkImgDivHtwo{
  position: fixed;
  top: 50vh;
}

.spanWork{
  font-family: 'Montserrat-ExtraBold';
}

.sideImgText{
  position: absolute;
  right: -3vw;
  top: 3vw;
  writing-mode: tb;
  font-family: 'Montserrat-Light';
  font-size: 1.17vw;
  color: white;
  height: 50vw;
}
.sideImgText span{
  height: 19vw;
  background: white;
  width: 1px;
  position: relative;
  display: inline-block;
}

.recentImgItaly{
  position: absolute;
  bottom: -12vw;
  right: 0;
  color: white;
  font-size: 3.5139vw;
  font-family: 'Montserrat-ExtraBold';
}

.rnd {
  width: 39.04vw;
  position: relative;
  left: -19.52vw;
  margin-left: 50%;
  margin-bottom: 15vw;
}
